/* centering */
#header, #gameInfo{
    display: flex;
    justify-content: center;
}

/* dark mode */
body {
    background-color: black;
    color: white;
    font-family: 'Franklin';
}

/* board styling */
#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.row{
  display: flex;
  gap: 5px;
}

.square {
    color: white;
    width: 60px;
    height: 60px;
    border: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 2px;
}

.correct {
    background-color: #538d4e;
}

.half-right {
    background-color: #b59f3b;
}

.wrong {
    background-color: #3a3a3c;
}

/* keyboard styling */
#keyboard {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  display: flex;
  gap: 5px;
}

.key {
  padding: 10px;
  font-size: 16px;
  color: white;
  height: 60px;
  min-width:  33px;
  border-radius: 5px;
  background-color: #818384;
  cursor: pointer;
  user-select: none;
  border: none;
  text-align: center;
}

.key:hover {
  background-color: darkgrey;
}

.key.correct {
    background-color: #538d4e;
}

.key.half-right {
    background-color: #b59f3b;
}

.key.wrong {
    background-color: #3a3a3c;
}

#gameInfo{
    margin-top: 20px;
    font-size: 40px;
    color: green;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

/* share button  */
#share-btn-container{
    display: flex;
    justify-content: center;
}

#shareBtn{
    height: 40px;
    width: 180px;
    background-color: #58a351;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

#shareBtn img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

#shareBtn:hover{
    background-color: #538d4e;
}

/* alert  */
#custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

#custom-alert.show {
    opacity: 1;
    /* top: 860px; dynamically done now in utils */
    /* pointer-events: auto; */
}

/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  padding-top: 25vh;
}

/* Hide the overlay by default */
.overlay-hidden {
  display: none !important;
}
